[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
getrandom = { version = "0.4.1", features = ["wasm_js"] }
rand = "0.10.0"
wasm-bindgen = "^0.2"
